@model IEnumerable<iSynergy.Areas.Finance.Models.AccountSubGroup>

@{
    ViewBag.Title = "Account Sub Groups";
}

<a href="@Url.Action("Create")"><Span class="btn btn-success btn-icon background bottom15"><i class="fa fa-plus"></i> &nbsp; Add New Sub Group</Span></a>
<section class="box" style="border-left: 3px solid #e77512;">
    <header class="panel_header">
        <h2 class="title pull-left">@ViewBag.Title</h2>
    </header>
    <div class="content-body">
        <div class="row">
            <div class="col-xs-12">

                <div class="table-responsive" data-pattern="priority-columns">
                    <table class="table">
                        <tr>
                            <th class="col-md-3">
                                @Html.DisplayNameFor(model => model.AccountSubGroupId)
                            </th>
                            <th class="col-md-4">
                                @Html.DisplayNameFor(model => model.Title)
                            </th>
                            @*<th class="col-md-4">
                    @Html.DisplayNameFor(model => model.AccountGroup.Title)
                </th>*@
                            <th class="col-md-1"></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AccountSubGroupId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                @*<td>
                        @Html.DisplayFor(modelItem => item.AccountGroup.Title)
                    </td>*@
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.AccountSubGroupId })
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

