@model iSynergy.Areas.DMS.Models.UserDocumentAccessRole

@{
    ViewBag.Title = "User Role Details";
}

<section class="box" style="border-left: 3px solid #e77512;">
    <header class="panel_header">
        <h2 class="title pull-left">@ViewBag.Title</h2>
    </header>
    <div class="content-body">
        <div class="row">
            <div class="col-xs-12">
                <div>

                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.DocumentAccessRole.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DocumentAccessRole.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Employee.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Employee.Name)
                        </dd>

                    </dl>
                </div>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.UserDocumentRoleId }) |
                    @Html.ActionLink("Back to List", "Index")
                </p>


            </div>
        </div>
    </div>
</section>

