@model IEnumerable<iSynergy.Areas.HR.Models.Department>

@{
    ViewBag.Title = "Departments";
}

<a href="@Url.Action("Create")"><Span class="btn btn-success btn-icon background bottom15"><i class="fa fa-plus"></i> &nbsp; Add New Department</Span></a>
<section class="box" style="border-left: 3px solid #e77512;">
    <header class="panel_header">
        <h2 class="title pull-left">@ViewBag.Title</h2>
    </header>
    <div class="content-body">
        <div class="row">
            <div class="col-xs-12">

                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.DepartmentId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.HodId)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.DepartmentId)
                            </td><td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @ViewBag.employeeIdtoNameDictonary[item.HodId]
                            </td>
                            <td>
                                <a href="@Url.Action("Edit", "Departments", new { id = item.DepartmentId })"><span><i class="fa fa-pencil"></i></span></a>
                            </td>
                        </tr>
                    }

                </table>

            </div>
        </div>
    </div>
</section>

